main {
    width: $width;
    height: $height;
}

.card {
    background-color: $white;
    border-radius: 20px;
}

.card-image {
    overflow: hidden;
    height: 450px;
}

.card-image img {
    height: $height;
    width: $width;
}

.desktop-img>img {
    border-radius: 20px 0px 0px 20px;
}

.right-section {
    width: 310px;
    padding: 30px 40px 20px 30px;
}

.desktop-img {
    display: block;
    height: 100%;

    @media (max-width:575px) {
        display: none;
    }
}

.mobile-img {
    display: none;
    height: 100%;

    @media (max-width:575px) {
        display: block;


    }
}

.right-section>span {
    color: $secondry;
    font-size: 13px;
    letter-spacing: 4px
}

.right-section>h1 {
    color: hsl(228deg 6% 17%);
    padding-top: 20px;
    font-family: $font-family;
}

.right-section>p {
    color: $secondry;
    padding-top: 20px;
    font-size: 14px;
}

.number-section {
    padding: 20px 0;
}

.number-section>span {
    font-size: 30px;
    color: $primary;
    font-weight: 700;
    font-family: $font-family;
}

.number-section>p {
    font-size: 14px;
    padding-left: 20px;
    color: $secondry;
    text-decoration: line-through;
}

.right-section>button {
    background-color: $primary;
    color: $white;
    font-weight: 700;
    padding: 12px 60px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}

.shopping-icon {
    padding-right: 10px;
    width: 24px;
}

@media (max-width:575px) {
    .card {
        flex-direction: column;
    }

    .card-image {
        overflow: hidden;
        height: 200px;
    }

    .right-section {
        padding: 17px 10px 18px 15px;
    }

    .right-section>h1 {
        font-size: 32px;
    }

    .right-section>button {
        padding: 14px 85px;
        margin-top: 0px;
    }

    .mobile-img>img {
        border-radius: 10px 10px 0px 0px;

    }
}