main {
    width:$width;
    height:$height;
}
.card {
    background-color:$white;
    border-radius: 20px;
}

.card-image {
    overflow: hidden;
    height: 450px;
}
.card-image img {
    height: 100%;
    width: $width;
    border-radius: 20px 0px 0px 20px;
}

.right-section {
    width: 310px;
    padding: 30px 40px 20px 30px;
}

.right-section>span {
    color: $secondry;
    font-size: 13px;
    letter-spacing:4px
}

.right-section>h1 {
    color: hsl(228deg 6% 17%);
    padding-top: 20px;
    font-family: $font-family;
}

.right-section>p {
    color:$secondry;
    padding-top: 20px;
    font-size: 14px;
}

.number-section {
    padding: 20px 0;
}

.number-section>span {
    font-size: 30px;
    color: $primary;
    font-weight: 700;
    font-family:$font-family;
}

.number-section>p {
    font-size: 14px;
    padding-left: 20px;
    color:$secondry;
    text-decoration: line-through;
}

.right-section>button {
    background-color:  $primary;
    color:$white;
    font-weight: 700;
    padding: 15px 60px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}
.shopping-icon{
    padding-right: 10px;
     width: 24px;
}
@media (max-width:600px) {
    .card {
        flex-direction: column;
    }
    .card-image {
        background-image: url("../../../images/image-product-mobile.jpg");
        height: 320px;
        border-radius: 20px 20px 0 0px;
    }
    .card-image>img {
        height: 400px;
        width: $width;
    }
    .right-section {
        width: 360px;
        padding: 30px 30px 20px 30px;
    }
    .right-section>button {
        padding: 15px 95px;
        margin-top: 0px;
  
    }

}